<!-- // includes the head.ejs file which is required for the HTML head tag -->
<%- include('../includes/head.ejs') %>

</head>

<body>
    <!-- // includes the navigation.ejs file which cam be used for the navigation bar  -->
    <%- include('../includes/navigation.ejs') %>
    <main>
        <!-- // checks if any product has been submitted -->
        <% if (prods.length > 0) { %>
            <div class="grid">
                <!-- // loops through the submitted products -->
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <!-- // prints the title of the product -->
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                        <img src="<%= product.imageUrl %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <button class="btn" type="button" onclick="window.location.href='/admin/edit-product' ">EDIT</button>
                            <form action="/admin/remove-product" method="POST">
                            <button class="btn" type="submit" >Remove</button>

                            </form>

                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <!-- // if there are no products, then this line prints an error message -->
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <!-- // includes the ejs file for the HTML ending tags -->
<%- include('../includes/end.ejs') %>